---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import NotFound from "@/pages/404.astro";

const { id } = Astro.params;
const getPost = async () => {
  try {
    const response = await fetch(`${import.meta.env.PUBLIC_API_URL}/research/${id}`);
    const data = await response.json();

    if (data.code === "rest_post_invalid_id" && data.data.status === 404) {
      return null;
    }

    return data;
  } catch (error) {
    throw new Error("Not Found");
  }
};
const post = await getPost();
---

{
  post ? (
    <DefaultLayout>
      <div>
        <h1>{post.title.rendered}</h1>
        <div set:html={post.content.rendered} />
      </div>
    </DefaultLayout>
  ) : (
    <NotFound />
  )
}
